// @import "../Themes/Themes.scss";
.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.25);
}

#CardContents1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#CardContents2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#CardContents3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.HTMLImage {
  display: flex;
  width: 40px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.CSSImage {
  display: flex;
  width: 45px;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 14px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.BootStrapImage {
  display: flex;
  width: 30px;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.JavaScriptImage1 {
  display: flex;
  width: 30px;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.ReactImage {
  display: flex;
  width: 40px;
  gap: 20px;
  margin-left: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

#SkillsContainer1 {
  background: rgba(13, 204, 197, 0.912);
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
}

#SkillsContainer2 {
  background: rgba(13, 204, 197, 0.912);
  margin-bottom: 40px;
  padding: 10px;
  margin-right: 20px;
  // filter:drop-shadow(0 0.5rem 1rem red);
  filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
}

#SkillsContainer3 {
  background: rgba(13, 204, 197, 0.912);
  margin-bottom: 30px;
  padding: 10px;
  margin-right: 20px;
  filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
}

#SkillsContainer4 {
  background: rgba(13, 204, 197, 0.912);
  margin-bottom: 30px;
  padding: 10px;
  margin-right: 20px;
  filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
}

.ReactHeading {
  display: inline;
  /* or display: inline-block; */
}

// .ReactRouterImage {
//   display: flex;
//   width: 40px;
//   gap: 20px;
//   margin-left: 16px;
//   cursor: pointer;
//   text-decoration: none;
//   color: rgba(13, 7, 7, 0.629);
// }

.ReactBootStrapImage {
  display: flex;
  width: 35px;
  gap: 15;
  margin-left: 16px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.JavaImage {
  display: flex;
  width: 60px;
  gap: 20px;
  margin-left: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.JavaScriptImage2 {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.GITImage {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.SQlImage {
  display: flex;
  width: 45px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.HerokuImage {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.GitHubImage {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}

.NetlifyImage {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.ReactRedux {
  display: flex;
  width: 30px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.ReactRouter {
  display: flex;
  width: 23px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.ReactBootStrapHeading {
  white-space: nowrap;
  margin-left: 25px;
}
.JavaScriptHeading{
  white-space: nowrap;
  margin-left: 3px;
}
.JavaHeading{
  white-space: nowrap;
  margin-left: -16px;
}
.BootstrapHeading{
  white-space: nowrap;
  margin-left: 5px;
}
.ReduxHeading {
  white-space: nowrap;
  margin-left: 5px;
}
.ReactRouterHeading {
  white-space: nowrap;
  margin-left: 5px;
}
.NodeJS {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.ExpressJS {
  display: flex;
  width: 35px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}
.mongodb {
  display: flex;
  width: 38px;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(13, 7, 7, 0.629);
}


#TechHeading {
  margin-bottom: 20px;
}
#skills.light-mode {
  color: #0a0d41;
}
#skills.dark-mode {
  color: white;
}

@media (max-width: 997px) {
  .ReactBootStrapHeading {
    white-space: normal;
    margin-left: 18px;
  }
}


@media (max-width: 767px) {
  .ReactBootStrapHeading {
    white-space: nowrap;
    margin-left: 10px;
  }
 .ReactRedux{

 }
  #SkillsContainer1 {
    background: rgba(13, 204, 197, 0.912);
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
    filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
  }

  #SkillsContainer2 {
    background: rgba(13, 204, 197, 0.912);
    margin-bottom: 40px;
    padding: 10px;
    margin-right: 0px;
    // filter:drop-shadow(0 0.5rem 1rem red);
    filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
  }

  #SkillsContainer3 {
    background: rgba(13, 204, 197, 0.912);
    margin-bottom: 30px;
    padding: 10px;
    margin-right: 0px;
    filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
  }

  #SkillsContainer4 {
    background: rgba(13, 204, 197, 0.912);
    margin-bottom: 30px;
    padding: 10px;
    margin-right: 0px;
    filter: drop-shadow(0 0.7rem 1.5rem #22bcb6);
  }
}
