@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+SA+Beginner:wght@600&family=Lobster&family=Mukta&display=swap");
@import "./components/Themes/Themes.scss";

.root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding:0;
  font-family: 'Inter', sans-serif;
}

#ProjectButton {
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}



/* h1 {
  font-family: Edu SA Beginner, sans-serif;
} */

/* h2 {
  font-family: Edu SA Beginner, sans-serif;
} */

